# Use relevant dev shell
branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null || echo "")
if [[ "$branch" == 'main' ]]; then
  use flake
elif [[ "$branch" == *feature* ]]; then
  use flake .#feature
else
  use flake .#default
fi

# Figure out our current worktree's root dir
export GIT_WT_DIR="$(git rev-parse --show-toplevel 2>/dev/null)"
if [ -n "$GIT_WT_DIR" ]; then
  # If our .git is a directory, then we are in the main worktree
  if [ -d "$GIT_WT_DIR/.git" ]; then
    export GIT_WT_MAIN_DIR="$GIT_WT_DIR"
  else
    # .git is a file, get the path to the common main worktree package
    gitdir_path="$(cat "$GIT_WT_DIR/.git" | sed -n 's|^gitdir: ||p')"
    # Main worktree is always the parent directory of .git
    export GIT_WT_MAIN_DIR="$(dirname "$(dirname "$(dirname "$gitdir_path")")")"
  fi
fi

# Setup node
export NODE_PATH="${GIT_WT_MAIN_DIR}/node_modules"
export npm_config_prefix="${GIT_WT_MAIN_DIR}"
export PATH="${NODE_PATH}/.bin:$PATH"

# Load environment variables
ENV_FILES=(.env .env.development .env.local .env.development.local)
for f in "${ENV_FILES[@]}" ; do
    dotenv_if_exists "$GIT_WT_MAIN_DIR/$f"
done
